<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <title>Using Colours</title>
</head>
  
  <body class="container">
    <h2 class="text-center text-info text-sm-left">Our Mission</h2>
    <p class="font-weight-bold">
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
    </p>
    <ul class="bg-primary text-sm-center">
      <li class="text-danger">Grooming</li>
      <li class="text-capitalize">general Health</li>
      <li>Nutrition</li>
      <li>Pest control</li>
      <li>Vaccinations</li>
    </ul>
    
    <div class="offset-sm-0 col-sm-6 float-left">
      <h2 class="lead text-center text-danger text-capitalize text-sm-left bg-success">testimomials</h2>
      <blockquote class="font-italic">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
        <div class="blockquote-footer text-center">Graham</div>
      </blockquote>
    </div>
    
    <div class="offset-sm-0 col-sm-6 float-left">
      <h2 class="lead text-center text-danger text-capitalize text-sm-left bg-success">testimomials</h2>
      <blockquote class="font-italic">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
        <div class="blockquote-footer text-center">Graham</div>
      </blockquote>
    </div>
    

    
  <script src="../../bootstrap/js/jquery.slim.min.js"></script>
  <script src="../../bootstrap/js/tether.min.js"></script>
  <script src="../../bootstrap/js/bootstrap.min.js"></script>
  <script src="../../bootstrap/js/scripts.js"></script>
  </body><!--Body container-->  
</html>
      
